<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Wishusucess" class="sssssssssss" translate="label" sortOrder="9999">
        <label>Wishusucess</label>
        </tab>
    </system>
</config>
